@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    background-color: #303030;
    font-family: 'Inter', sans-serif;
}

#nav-logo {
    width: 130px;
}

#nav-list li {
    margin-left: 15px;
    margin-right: 15px;
}

#contact-button-container {
    width: 130px;

    display: flex;
    justify-content: center;
}

#contact-button {
    margin: auto;
    border-radius: 100px;
}

#mobile-contact-item {
    display: none;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #contact-button-container { display: none; }
    #mobile-contact-item { display: unset; }
}